// nextflow.config for BS-seq_Nexflow_Pipeline

// Default parameter values
params {
    input_pattern      = '/home/ttm3567/rootdir_scratch/20260115_Corigami_Contd/Input_BAMs/*.bam'
    BAM_prep_script    = '/home/ttm3567/rootdir_scratch/20260115_Corigami_Contd/MaxOrigami_Pipeline_v1/BAM_Prep/chr_edit_bam.sh'

    maxATAC_prepare_script   = '/home/ttm3567/rootdir_scratch/20260115_Corigami_Contd/MaxOrigami_Pipeline_v1/maxATAC/maxATAC_prepare_mm10.sh'
    maxATAC_predict_script        = '/home/ttm3567/rootdir_scratch/20260115_Corigami_Contd/MaxOrigami_Pipeline_v1/maxATAC/maxATAC_predict_mm10.sh'
    maxATAC_sampled_pred_benchmark_script     = '/home/ttm3567/rootdir_scratch/20260115_Corigami_Contd/MaxOrigami_Pipeline_v1/maxATAC/maxATAC_mouse_BasicBenchmarking.sh'
    C_Origami_predict_script       = '/home/ttm3567/rootdir_scratch/20260115_Corigami_Contd/MaxOrigami_Pipeline_v1/C_origami/Corigami_predict_mm10.sh'

    moduleLoad         = 'samtools pigz bedtools'
    maxatac_data_dir = '/home/ttm3567/opt/maxatac/data/hg38'
    maxATAC_mamba_environment = '/projects/b1063/TylerT/maxATAC'
    Corigami_mamba_environment = '/projects/b1063/TylerT/C_oriGAMZzz' 
    corigami_chrom_sizes = "/home/ttm3567/opt/maxatac/data/mm10/mm10.chrom.sizes"
    corigami_seq_dir     = "/projects/b1063/Reference/mm10_perChromosome/dna_sequence"
    corigami_model_ckpt  = "/home/ttm3567/b1063/Reference/corigami_data/model_weights/corigami_base.ckpt"
    corigami_win         = 2097152
    corigami_step        = 2097152

    corigami_atac_suffix = "_IS_slop20_RP20M_minmax01.bw"
    corigami_ctcf_suffix = "_CTCF.bw"
    mm10_blacklist_bed = '/home/ttm3567/opt/maxatac/data/hg38/hg38_maxatac_blacklist.bed'

    group_downsample_reads = 0          // 0 disables downsampling
    ds_mapq = 30
    ds_exclude_flags = 0xF00
    ds_seed = 42
    groupfile = '/home/ttm3567/rootdir_scratch/20260115_Corigami_Contd/MaxOrigami_bam_basenames.csv'   // Sample,Group

    run_hic_tile_viz = true
  
    hic_viz_script = '/home/ttm3567/rootdir_scratch/20260115_Corigami_Contd/MaxOrigami_Pipeline_v1/TileTrack_Visualizer/HiC_CTCF_ATAC_Viz_v2.py'
    hic_viz_outdir = 'HiC_TileViz'
  
    // which two pipeline samples/groups to compare (must match your pipeline sample names)
    hic_viz_pairs = [
      // ---- Ly6Chigh ----
      'Ly6Chigh_OldWT:Ly6Chigh_YoungWT',
      'Ly6Chigh_OldTNFKO:Ly6Chigh_YoungTNFKO',
      'Ly6Chigh_OldWT:Ly6Chigh_OldTNFKO',
      'Ly6Chigh_YoungWT:Ly6Chigh_YoungTNFKO',
    
      // ---- Ly6Clow ----
      'Ly6Clow_OldWT:Ly6Clow_YoungWT',
      'Ly6Clow_OldTNFKO:Ly6Clow_YoungTNFKO',
      'Ly6Clow_OldWT:Ly6Clow_OldTNFKO',
      'Ly6Clow_YoungWT:Ly6Clow_YoungTNFKO'
    ]
 
    // which chrom to visualize
    hic_viz_chrom = 'chr19'
    hic_viz_pattern = 'chr19_*.npy'
  
    // track filenames (defaults follow your existing suffix params)
    hic_viz_atac_suffix_a = params.corigami_atac_suffix   // e.g. "_IS_slop20_RP20M_minmax01.bw"
    hic_viz_atac_suffix_b = params.corigami_atac_suffix   // override if needed
  
    hic_viz_ctcf_suffix   = params.corigami_ctcf_suffix   // e.g. "_CTCF.bw"
    hic_viz_ctcf_override_b = null                        // e.g. "/path/to/chr11_CTCF_QuantMatch_....bw"
  
    // plotting
    hic_viz_cmap = 'Reds'
    hic_viz_tick_mb = 0.25
}

// SLURM executor configuration

process {
  executor = 'slurm'
  // keep only account/partition/mailer/outputs in clusterOptions
  clusterOptions = [
      '--account=b1042',
      '--partition=genomics',
      '--mem=40gb',
      '--job-name=TAD_Prediction',
      '--mail-type=ALL',
      '--mail-user=tyler.therron@northwestern.edu',
      '--output=%x.%j.out'
  ]

  shell        = '/bin/bash -l'
  beforeScript = "module load ${params.moduleLoad}"

  // Per-process resources (adjust to your cluster)
  withName: MergeGroupBams {
    cpus = 8
    memory = '30 GB'   // or whatever you want
    time = '02:00:00'
  }
  withName: DownsampleGroupBam {
    time = '02:00:00'
  }
  withName: CountUsableReads {
    time = '01:00:00'
  }
  withName: HiCTileVizCompare {
    time = '03:00:00'
  }
  withName: BamChrAppend {
    cpus = 2
    memory = '30 GB'
    time = '02:00:00'
  }
  withName: MaxATACPrepare {
    cpus = 6
    memory = '60 GB'
    time = '26:00:00'
  }
  withName: MaxATACPredictChrom {
    cpus = 4
    memory = '36 GB'
    time = '12:00:00'
  }
  withName: COrigamiPredictChrom {
    cpus = 4
    memory = '36 GB'
    time = '24:00:00'
  }
  withName: MaxATACBenchmark {
    cpus = 2
    memory = '8 GB'
    time = '04:00:00'
  }
}
