// nextflow.config for BS-seq_Nexflow_Pipeline

// Default parameter values
params {
    input_pattern      = '/home/*.bam'
    BAM_prep_script    = '/home/chr_edit_bam.sh'
    maxATAC_prepare_script   = '/home/maxATAC/maxATAC_prepare_mm10.sh'
    maxATAC_predict_script        = '/home/maxATAC/maxATAC_predict_mm10.sh'
    maxATAC_sampled_pred_benchmark_script     = '/home/maxATAC/maxATAC_mouse_BasicBenchmarking.sh'
    C_Origami_predict_script       = '/home/C_origami/Corigami_predict_mm10.sh'
    moduleLoad         = 'samtools pigz bedtools'
    maxatac_data_dir = '/home/opt/maxatac/data/hg38'
    maxATAC_mamba_environment = '/projects/maxATAC'
    Corigami_mamba_environment = '/projects/C_oriGAMZzz' 
    corigami_chrom_sizes = "/home/opt/maxatac/data/mm10/mm10.chrom.sizes"
    corigami_seq_dir     = "/projects/Reference/mm10_perChromosome/dna_sequence"
    corigami_model_ckpt  = "/home/Reference/corigami_data/model_weights/corigami_base.ckpt"
    corigami_win         = 2097152
    corigami_step        = 2097152
    corigami_atac_suffix = "_IS_slop20_RP20M_minmax01.bw"
    corigami_ctcf_suffix = "_CTCF.bw"
    mm10_blacklist_bed = '/home/opt/maxatac/data/hg38/hg38_maxatac_blacklist.bed'
}

// SLURM executor configuration

process {
  executor = 'slurm'
  // keep only account/partition/mailer/outputs in clusterOptions
  clusterOptions = [
      '--account=alloc',
      '--partition=genomics',
      '--mem=40gb',
      '--job-name=TAD_Prediction',
      '--mail-type=ALL',
      '--mail-user=email',
      '--output=%x.%j.out'
  ]

  shell        = '/bin/bash -l'
  beforeScript = "module load ${params.moduleLoad}"

  // Per-process resources (adjust to your cluster)
  withName: BamChrAppend {
    cpus = 2
    memory = '4 GB'
    time = '02:00:00'
  }
  withName: MaxATACPrepare {
    cpus = 6
    memory = '60 GB'
    time = '26:00:00'
  }
  withName: MaxATACPredictChrom {
    cpus = 4
    memory = '36 GB'
    time = '12:00:00'
  }
  withName: COrigamiPredictChrom {
    cpus = 4
    memory = '36 GB'
    time = '24:00:00'
  }
  withName: MaxATACBenchmark {
    cpus = 2
    memory = '8 GB'
    time = '04:00:00'
  }
}
